body {
  background-image: url(../img/fondo.jpg);
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  margin-top: 3%;
}

label{
  display: none;
}

input {
  border: 1px solid white;
  border-radius: 0.2em;
}

#search-keyword {
  width: 40%;
  height: 4.5vh;
}

#submit-btn {
  width: 10%;
  height: 5vh;
  background-color: black;
  color: white;
}

#response-container {
  border: 2px solid white;
  border-radius: 2em;
  width: 40%;
  margin-left: 24%;
  padding-bottom: 4%;
  display: none;
}

li {
  list-style: none;
}